<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="row" fxLayoutAlign="space-between center" >
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <button color="primary" mat-raised-button routerLink="/form-template" routerLinkActive="active">Signup Template driven</button>
    <button color="accent" mat-raised-button routerLink="/form-reactive" routerLinkActive="active">Signup Reactive driven</button>
  </nav>
</div>
<!-- <app-app-sign-up></app-app-sign-up> -->
<router-outlet></router-outlet>