<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
  <!-- <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="_addService.selectedEmployee.$key"> -->
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="name" placeholder="Full Name">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="location" placeholder="Location">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="position" placeholder="Position">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="office" placeholder="Office">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="salary" placeholder="Salary">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Discription" formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <!-- (change)="upload($event)" -->
  <div class="form-group photo-section">
    <label for="file">Upload Your Photo:</label>
    <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
  </div>
  <div class="form-group" fxLayout="row" fxLayoutAlign="end center">
    <button class="btn-reset" color="warn" mat-button mat-raised-button type="button" (click)="resetForm(employeeForm)">
      Reset
    </button>
    <button color="primary" mat-button mat-raised-button type="submit" [disabled]="!employeeForm.valid">
      Submit
    </button>
  </div>
</form>